<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productService" class="com.epam.service.impl.ProductServiceImpl">
        <property name="productDAO" ref="productDAO"/>
    </bean>

    <bean id="customerService" class="com.epam.service.impl.CustomerServiceImpl">
        <property name="customerDAO" ref="customerDAO"/>
    </bean>

</beans>