<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="itemService" class="by.cdp.task01.service.ItemService">
        <constructor-arg value="wh-01"/>
    </bean>

    <bean id="orderService" class="by.cdp.task01.service.OrderService">
    </bean>

    <bean id="productService" class="by.cdp.task01.service.ProductService">
    </bean>

    <bean id="sellerService" class="by.cdp.task01.service.SellerService">
    </bean>

    <bean id="userService" class="by.cdp.task01.service.UserService"
          factory-method="createUserService">
        <constructor-arg type="by.cdp.task01.service.ProductService" ref="productService"/>
    </bean>

    <bean id="proposalService" class="by.cdp.task01.service.ProposalService">
        <constructor-arg ref="userRepository"/>
        <property name="userService" ref="userService"/>
    </bean>

</beans>