<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:jpa</property>
        <property name="dialect">gear7.partyrock.utils.SQLiteDialect</property>

        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">false</property>

        <mapping class="models.Address"/>
        <mapping class="models.EmployeeStatus"/>
        <mapping class="models.EmployeePersonalInfo"/>
        <mapping class="models.Employee"/>
        <mapping class="models.Project"/>
        <mapping class="models.Unit"/>
    </session-factory>
</hibernate-configuration>